<div class="root">
  <div class="add-vessel" *ngIf="editMode">
    <ul>
      <li>Name: <input type="text" [(ngModel)]="name"></li>
      <li>Ship type: <input type="text" [(ngModel)]="ship_type"></li>
      <li>Latitude: <input type="number" step="0.00001" [(ngModel)]="latitude"></li>
      <li>Longitude: <input type="number" step="0.00001" [(ngModel)]="longitude"></li>
      <li>Heading: <input type="number" [(ngModel)]="heading"></li>
      <li>Speed: <input type="number" step="0.01" [(ngModel)]="speed"></li>
      <li>Rot: <input type="text" [(ngModel)]="rot"></li>
      <li>Accuracy: <input type="number" step="0.01" [(ngModel)]="accuracy"></li>
      <li>Course: <input type="number"  [(ngModel)]="course"></li>
      <li>Navigational status: <input type="text" [(ngModel)]="navigational_status"></li>
      <li>Destination: <input type="text" [(ngModel)]="destination"></li>
      <button value="Submit" (click)="onSubmit()">Submit</button>
    </ul>
  </div>

<!--  <ul>-->
<!--    <li *ngFor="let item of vessels">{{item.name}} - {{item.destination}}</li>-->
<!--  </ul>-->
  <div class="toolbar">
    <input type="text" placeholder="search" [(ngModel)]="searchString" (keyup.enter)="searchVessel()">
  </div>
  <google-map height="100%"
              width="100%"
              [zoom]="zoom"
              [center]="center"
              [options]="options">
    <map-marker
      #markerElem
      *ngFor="let vessel of vessels"
      [position]="{ lat: vessel.latitude, lng: vessel.longitude}"
      [label]="vessel.name"
      (mapClick)="openInfo(markerElem, 'Type: ' + vessel.ship_type + ', status: ' + vessel.navigational_status)"></map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
